{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% for aviso in avisos %}
    <span style="color: rgb(221, 39, 39);">
        <h3>Avisos:</h3>
        <h4>{{ aviso.texto }}</h4>
    </span>
    {% endfor %}

    {% for acao in acoes %}
    <div class='bg-1'>
        <img src="{{ acao.imagem.url }}" alt='imagem1' style='width:40%;'>
        <h3>{{ acao.titulo }}</h3>
        <p>{{ acao.descricao }}</p>
    </div>
    {% endfor %}

    <div class='bg-2'>
        <h3 class='centered-text'>Realizando Sonhos</h3>
        {% for doacao in doacoes %}
            <div style='background-color: #ffffff;'>
                <p><strong>Link para Detalhes:</strong> <a href="{% url 'doacao_detail' pk=doacao.pk %}">Detalhes</a></p>
                <p>{{ doacao.descricao }}</p>
                <br>
                Itens: {{ doacao.itens }}
                <br>
                <a href="{{ doacao.linkDoacoes }}" target='_blank'>Doe aqui!</a>
                <div style='background-color: #85c6f1;'>
                    <br>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
