{% extends 'index.html' %}

{% block content %}

    {% for turma in turmas %}
        <div class='row'>
            <div class='box-size'>
                <h3>{{ turma.ano }}</h3>
            </div>
        </div>
    {% endfor %}

    {% for professor in professores %}
        <div class='left-text'>
            <div class='row'>
                <div class='box-size'>
                    <h4>
                        {{ professor.nome }}
                        {{ professor.leciona }}
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for aluno in alunos %}
        <div class='right-text'>
            <div class='row'>
                <div class='box-size'>
                    <h4>
                        {{ aluno.nome }}
                        {{ aluno.turma }}
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for atividade in atividades %}
        <div class='bg-2'>
            <div class='row'>
                <div class='box-size'>
                    <h4>
                        {{ atividade.titulo }}
                        <p>{{ atividade.descricao }}</p>
                        <a href="{{ 'atividade.link' }}">{{ atividade.referLink }}</a>
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}
