{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% for turma in turmas %}
    <div class="bloco-turma">
        <h2>{{ turma }}</h2>

        <div class="alunos">
            <h3>Alunos:</h3>
                {% for aluno in alunos.all %}
                    {% if aluno.turma == turma %}
                        {{ aluno.nome }}
                    {% endif %}
                {% endfor %}
        </div>

        <div class="atividades">
            <h3>Atividades:</h3>
            {% for atividade in atividades.all %}
                {% if atividade.turma == turma %}
                    <div class='negrito'>{{ atividade.titulo }}</div>
                    <p>{{ atividade.descricao }}</p>
                    <a href="{{ atividade.link }}" target='_blank'>{{atividade.referLink}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class='topo' style='margin-top: 40px;'>
        <h3>Atividades Gerais:</h3>
        {% for atividade in atividades.all %}
            {% if not atividade.turma %}
                <div class='negrito'>{{ atividade.titulo }}</div>
                <p>{{ atividade.descricao }}</p>
                <a href="{{ atividade.link }}">{{ atividade.referLink }}</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
